.content {
    max-width: 1300px;
    padding: 5rem 2rem 2rem;
    margin: 0 auto;
}

.banner {
    width: 100%;
    text-align: center;
    margin-bottom: 90px;

    > img {
        width: 100%;
        height: 146px;
        filter: brightness(0.88);
        object-fit: cover;
    }

}

.giftCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 44px 54px;

}


@media screen and (max-width: 720px) {

    .content {
        padding: 3rem 0.7rem 2rem;
    }

    .banner {
        margin-bottom: 60px;
    }

    .giftCards {
        gap: 35px 20px;
    }
}


